.list {
  width: 100%;
  margin: 0;
}
.itens {
  border-bottom-width: 1px;
  border-style: 'solid';
  border-color: #dcdcdc;
}
.imagemspc {
  width: 70px;
}
.imagem {
  width: 100%;
}
.titulo {
  margin-left: 20px;
}
.card {
  max-width: 350px;
}
.cardMedia {
  height: 350px;
}

